<div id="header">
  <h1>Welcome to nTunes</h1>
  <div id="controls">
    <a href="#">Play/Pause</a>
    <a href="#">Stop</a>
  </div>
</div>
<audio>
  
</audio>
<div id="wrap">
  <div id="library">
    <h2>Library</h2>
    <ul>
      <li>Music</li>
    </ul>
    <h2>Playlists</h2>
    <ul id="playlists">
      <li>Rockin the 80s</li>
      <li>High School</li>
      <li>Favs</li>
      <li>Workout Music</li>
      <li>ZOMG</li>
      <li>Road Trippin</li>
      <li>Blues</li>
    </ul>
  </div>
  
  <div id="browser">
    <div id="genres">
      <h2>Genres</h2>
      <ul>
        <li>All (6)</li>
        <li>Pop</li>
        <li>Punk</li>
        <li>Rocking</li>
        <li>This</li>
        <li>Pop</li>
      </ul>      
    </div> <!-- /genres -->
    <div id="artists">
      <h2>Artists</h2>
      <ul>
        <li>All (14)</li>
        <li>NIN</li>
        <li>Rage Against the Machine</li>
        <li>Smashing Pumpkins</li>
        <li>Semi-sonic</li>
        <li>Aqua</li>
        <li>Spice Girls</li>
        <li>Blind Melon</li>
        <li>Randy Newman</li>
        <li>Tower of Power</li>
        <li>Bob Marley</li>
        <li>Ziggy Marley</li>
        <li>Ted Nugent</li>
        <li>ZZ Top</li>
        <li>Berlin</li>  
      </ul>            
    </div> <!-- /artists -->
    <div id="albums">        
      <h2>Albums</h2>
      <ul>
        <li>All (2)</li>
        <li>Ghost</li>
        <li>And all that could have been</li>  
      </ul>
    </div> <!-- /albums -->
    <div class="clear">&nbsp;</div>             
  </div> <!-- /browser -->
  
  <div id="songCanvas">    
    <ul>
      <% for(var i = 0; i < songs.length; i++) { %>
      <li><%= songs[i].title %></li>
      <% } %>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
    </ul>
  </div>
</div>
