<div id="header">
  <h1>Welcome to nTunes</h1>
  <div id="controls">
    <a href="#">Play/Pause</a>
    <a href="#">Stop</a>
  </div>
</div>
<div id="wrap">
  <div id="library">
    <h2>Library</h2>
    <ul>
      <li>Music</li>
    </ul>
    <h2>Playlist</h2>
    <ul>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
      <li>Test Playlist Name</li>
    </ul>
  </div>
  <div id="songCanvas">
    <ul>
      <% for(var i = 0; i < songs.length; i++) { %>
      <li><%= songs[i].title %></li>
      <% } %>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
      <li>Test Song Name</li>
    </ul>
  </div>
</div>
