<!doctype html>
<html>
<head>
  <title>nTunes!!!</title>
  <style type="text/css" media="screen">
    /*FIXME - Use not shitty css reset*/
    * {margin:0; padding:0;}
    html {height:100%; background:#424242; font-family:Helvetica, sans-serif; font-size:12px; text-shadow:#fff 1px 1px 1px;}
    body {position:relative; height:90%; overflow:hidden; margin:30px; background:#fff; border:1px solid #999; -webkit-border-radius:5px; -webkit-box-shadow:#111 0 0 30px;}
    body h1 {padding:4px 0 0; font:normal normal normal 12px Helvetica, sans-serif; text-align:center;}
    #header {height:80px; border-bottom:2px solid #999; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdbdbd), to(#808080), color-stop(.5,#B5B5B5)); -webkit-border-radius:5px 5px 0 0;}
    
    #wrap {height:100%; overflow:hidden; position:relative;}
    #library {overflow-y:auto; width:200px; height:100%; float:left; background:#EDEDED; border:solid #999; border-width:0 1px 0 0; -webkit-border-radius:0 0 0 5px;}
    #library h2 {margin:0 0 3px 10px; padding:8px 0 0; font:normal normal bold 13px Helvetica, sans-serif; text-transform:uppercase; color:#3F3F3F;}
    #library ul {margin:0 0 0 15px; list-style:none;}
    
    #songCanvas {height:100%; overflow-y:scroll; background:url('http://nodeknockout.com/images/nodeko.png') no-repeat center center; -webkit-border-radius:0 0 5px 0;}
    #songCanvas ul {padding:8px 0 0 0; list-style:none;}
    #songCanvas li {padding:3px 5px; background:rgba(0,0,0,0);}
    #songCanvas li:nth-child(even) {background:rgba(0,0,0,.05);}
    #songCanvas li:hover {background:rgba(0,0,0,.1);}
  </style>
</head>
<body>
    <%- body %>
  <!--Loading jquery via google.load-->
  <script src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" charset="utf-8">
  google.load("jquery", "1.4.2");
  </script>
  <script type="text/javascript" charset="utf-8">
  var wrap = $('#wrap');
  $(document).ready(function(){
    wrap.height($(window).height() - 144);
    $('body').height($(window).height() - 62);
    $(window).resize(function(){
      wrap.height($(window).height() - 144);
      $('body').height($(window).height() - 62);
    });
  });
  </script>
</body>
</html>